.navbar_container{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.navbar{
    grid-column: 1,2;
    padding-left: 1rem;

}
.navbar_logo_img{
    width: 55%;
    margin: 1rem 0rem;
}
.navbar_general{
    margin: 3rem 0rem;
}

.navbar_general_content{
    margin: 0.3rem 0;
    text-decoration: none;
    color: grey;
}
.navbar_general_content img{
    width: 1.1rem;
    margin: 0rem 0.2rem;
}
.navbar_general_content1{
    margin: 0.6rem 0;
    text-decoration: none;
    color: grey;
}
.navbar_extra{
    margin: 1rem 0;
}
.navbar_general_content1 img{
    width: 1.1rem;
    margin: 0rem 0.2rem;
}


